@media screen and (max-width: 767px) {
  .adb-app {
    nav.navbar {
      font-size: 18px;

      .nav-item,
      .global-control {
        padding: 0 0.5rem;
      }
    }

    .pages > .page {
      top: 50px;
    }
  }
}

@media screen and (min-width: 768px) {
  .adb-app {
    nav.navbar {
      font-size: 24px;
    }

    .nav-item,
    .global-control {
      padding: 0 1rem;
    }

    .pages > .page {
      top: 70px;
    }
  }
}
