@import "config";

* {
  box-sizing: border-box;
}

html,
body,
#root,
.adb-app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.adb-app {
  @include background;

  .loading-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;

    // transparent overlay
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: $primary-color;
      opacity: 0.5;
    }

    & div {
      position: absolute;
      top: calc(50% - 12px);
      left: calc(50% - 12px);
      width: 25px;
      height: 25px;
      border-radius: 50%;
      @include easeIn;
      opacity: 0;
      animation: loading-mask 3s infinite, loading-mask-appear 1s 1;
      animation-fill-mode: forwards;

      &:nth-child(1) {
        background: #ce3333;
      }
      &:nth-child(2) {
        background: #33ce33;
        animation-delay: 1s;
      }
      &:nth-child(3) {
        background: #3333ce;
        animation-delay: 2s;
      }
    }

    @keyframes loading-mask-appear {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes loading-mask {
      0% {
        margin-left: 0px;
        margin-top: 0px;
        width: 25px;
        height: 25px;
      }

      25% {
        margin-left: 50px;
        margin-top: -50px;
        width: 15px;
        height: 15px;
      }

      50% {
        margin-left: 100px;
        margin-top: 0px;
        width: 25px;
        height: 25px;
      }

      75% {
        margin-left: 50px;
        margin-top: 50px;
        width: 15px;
        height: 15px;
      }
    }
  }

  nav.navbar {
    background-color: $primary_color !important;

    .nav-item {
      padding: 0.5rem;

      a {
        text-decoration: none;
        color: set-text-color($primary_color);
        @include easeIn;

        &:hover {
          color: $secondary-color;
        }
      }
    }

    .global-controls {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      font-size: 16px;
      @include easeOut;
      color: set-text-color($primary-color);

      .global-control {
        cursor: pointer;
        padding: 10px;
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }

  .pages {
    position: relative;
    height: 100%;

    & > .page {
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;

      & > .container {
        padding: 20px;
      }

      .model-list {
        opacity: 0.9;

        .list-group-item {
          cursor: pointer;
          @include easeOut;
          background-color: $primary_color;
          color: set-text-color($primary-color);

          &:hover {
            background-color: lighten($primary_color, 5);
            color: $secondary-color;
          }
        }
      }

      .model-list-group {
        padding: 5px 0px;
      }
    }
  }

  .remove-btn {
    color: set-text-color($primary_color);
    margin-right: 0.5rem;
    @include easeIn;

    &:hover {
      color: $secondary-color;
    }
  }

  .fade {
    &-enter {
      opacity: 0.01;
    }

    &-enter-active {
      opacity: 1;
      @include easeIn;
    }

    &-exit {
      opacity: 1;
    }

    &-exit-active {
      opacity: 0.01;
      @include easeIn;
    }
  }
}

button.close {
  outline: none !important;
}
