body .loading-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; }
  body .loading-mask::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #444;
    opacity: 0.5; }
  body .loading-mask > div {
    transform-origin: center;
    animation: loading-mask 3s infinite linear; }
    body .loading-mask > div > div {
      position: absolute;
      top: calc(50%);
      left: calc(50%);
      animation: loading-mask-parts 1.5s infinite linear;
      animation-fill-mode: forwards;
      transform-origin: center;
      width: 25px;
      height: 25px; }
      body .loading-mask > div > div::after {
        content: "";
        position: absolute;
        background: inherit;
        top: -50%;
        left: -50%;
        width: 100%;
        height: 100%;
        border-radius: 50%; }
      body .loading-mask > div > div:nth-child(1) {
        transform: translate(-20px, -11.54px); }
        body .loading-mask > div > div:nth-child(1)::after {
          background: #ce3333; }
      body .loading-mask > div > div:nth-child(2) {
        transform: translate(0px, 23.08px);
        animation-delay: 0.5s; }
        body .loading-mask > div > div:nth-child(2)::after {
          background: #33ce33; }
      body .loading-mask > div > div:nth-child(3) {
        transform: translate(20px, -11.54px);
        animation-delay: 1s; }
        body .loading-mask > div > div:nth-child(3)::after {
          background: #3333ce; }

@keyframes loading-mask {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes loading-mask-parts {
  0% {
    width: 25px;
    height: 25px;
    opacity: 1; }
  50% {
    width: 12px;
    height: 12px;
    opacity: 0.5; } }

.adb-app nav.navbar {
  background-color: #444 !important; }
  .adb-app nav.navbar .navbar-nav {
    flex-direction: row; }
  .adb-app nav.navbar .nav-item a {
    text-decoration: none;
    color: #fff;
    transition: all 0.5s ease-out; }
    .adb-app nav.navbar .nav-item a:hover, .adb-app nav.navbar .nav-item a.current {
      color: #eece1a; }
    .adb-app nav.navbar .nav-item a::after {
      font-family: "Font Awesome 5 Pro";
      font-weight: 600; }
    .adb-app nav.navbar .nav-item a.patientCard::after {
      content: "\f2c2"; }
    .adb-app nav.navbar .nav-item a.antibiotic::after {
      content: "\f46b"; }
    .adb-app nav.navbar .nav-item a.antibioticType::after {
      content: "\f7e6"; }
    .adb-app nav.navbar .nav-item a.department::after {
      content: "\f1ad"; }
    .adb-app nav.navbar .nav-item a.material::after {
      content: "\f46b"; }
    .adb-app nav.navbar .nav-item a.microorganism::after {
      content: "\f780"; }
    .adb-app nav.navbar .nav-item a.diagnosis::after {
      content: "\f470"; }
  .adb-app nav.navbar .global-controls {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    transition: all 0.5s ease-out;
    color: #fff; }
    .adb-app nav.navbar .global-controls .global-control {
      cursor: pointer; }
      .adb-app nav.navbar .global-controls .global-control:hover {
        color: #eece1a; }

.modal-dialog.medic-modal h5,
.modal-dialog.medic-modal label,
.modal-dialog.medic-modal button > span {
  user-select: none; }

.modal-dialog.medic-modal .modal-body .form-group {
  margin-bottom: 0; }
  .modal-dialog.medic-modal .modal-body .form-group span.required-indicator::after {
    content: "\f069";
    font-family: "Font Awesome 5 Pro";
    font-weight: 600;
    font-size: 8px;
    color: red;
    vertical-align: super;
    padding-left: 3px; }
  .modal-dialog.medic-modal .modal-body .form-group label {
    padding-top: 5px; }
  .modal-dialog.medic-modal .modal-body .form-group .DayPickerInput {
    width: 100%; }
    .modal-dialog.medic-modal .modal-body .form-group .DayPickerInput input::placeholder {
      opacity: 0.5; }
  .modal-dialog.medic-modal .modal-body .form-group button.btn {
    margin-top: 2rem; }

@media screen and (max-width: 767px) {
  .adb-app nav.navbar {
    font-size: 18px; }
    .adb-app nav.navbar .nav-item,
    .adb-app nav.navbar .global-control {
      padding: 0 0.5rem; }
  .adb-app .pages > .page {
    top: 50px; } }

@media screen and (min-width: 768px) {
  .adb-app nav.navbar {
    font-size: 24px; }
  .adb-app .nav-item,
  .adb-app .global-control {
    padding: 0 1rem; }
  .adb-app .pages > .page {
    top: 70px; } }

* {
  box-sizing: border-box; }

body .fade-enter {
  opacity: 0.01; }

body .fade-enter-active {
  opacity: 1;
  transition: all 0.5s ease-in; }

body .fade-exit {
  opacity: 1; }

body .fade-exit-active {
  opacity: 0.01;
  transition: all 0.5s ease-in; }

html,
body,
#root,
.adb-app {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.adb-app#bg-img::after,
.adb-app #bg-img::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("../img/background.jpg") center center fixed; }

.adb-app .pages {
  position: relative;
  height: 100%; }
  .adb-app .pages > .page {
    transition: all 0.5s ease-in;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto; }
    .adb-app .pages > .page > .container {
      padding: 20px;
      transition: all 0.5s ease-in; }
    .adb-app .pages > .page .model-list {
      opacity: 0.9; }
      .adb-app .pages > .page .model-list .list-group-item {
        cursor: pointer;
        transition: all 0.5s ease-out;
        background-color: #444;
        color: #fff; }
        .adb-app .pages > .page .model-list .list-group-item:hover {
          background-color: #515151;
          color: #eece1a; }
    .adb-app .pages > .page .model-list-group {
      padding: 5px 0px; }

.adb-app .remove-btn {
  color: #fff;
  margin-right: 0.5rem;
  transition: all 0.5s ease-in; }
  .adb-app .remove-btn:hover {
    color: #eece1a; }

.modal button.close {
  outline: none !important; }
