* {
  box-sizing: border-box; }

html,
body,
#root,
.adb-app {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body div#bg-img::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("../img/background.jpg");
  background-size: cover; }

.adb-app nav.navbar .global-controls {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  transition: all 0.5s ease-out;
  color: #fff; }
  .adb-app nav.navbar .global-controls .global-control {
    cursor: pointer;
    padding: 10px; }
    .adb-app nav.navbar .global-controls .global-control:hover {
      color: #eece1a; }

.adb-app .pages {
  position: relative;
  height: 100%; }
  .adb-app .pages > .page {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto; }
    .adb-app .pages > .page > .container {
      padding: 20px; }
    .adb-app .pages > .page .model-list {
      opacity: 0.9; }
      .adb-app .pages > .page .model-list .list-group-item {
        cursor: pointer;
        transition: all 0.5s ease-out;
        background-color: #444;
        color: #fff; }
        .adb-app .pages > .page .model-list .list-group-item:hover {
          background-color: #515151;
          color: #eece1a; }
    .adb-app .pages > .page .model-list-group {
      padding: 5px 0px; }

.adb-app .remove-btn {
  color: #fff;
  margin-right: 0.5rem;
  transition: all 0.5s ease-in; }
  .adb-app .remove-btn:hover {
    color: #eece1a; }

.adb-app .fade-enter {
  opacity: 0.01; }

.adb-app .fade-enter-active {
  opacity: 1;
  transition: all 0.5s ease-in; }

.adb-app .fade-exit {
  opacity: 1; }

.adb-app .fade-exit-active {
  opacity: 0.01;
  transition: all 0.5s ease-in; }

.adb-app .navbar {
  background-color: #444 !important; }

.adb-app .nav-item {
  padding: 0.5rem; }
  .adb-app .nav-item a {
    text-decoration: none;
    color: #fff;
    transition: all 0.5s ease-in; }
    .adb-app .nav-item a:hover {
      color: #eece1a; }

button.close {
  outline: none !important; }
